$lightDark: #323232;
$navigationItemBorder: 4px solid;

// custom apps color
$hadoopCustomColor: #c40dc9;
$railsCustomColor: #3c2dee;
$chronosCustomColor: #01aafd;
$stormCustomColor: #2ce19c;
$sparkCustomColor: #69fa1a;

:global {
    .hadoop:not(.appInCluster) {
        border-left: $navigationItemBorder $hadoopCustomColor;
    }
    .hadoop.appInCluster,
    .hadoop .add {
        background: $hadoopCustomColor;
    }

    .rails:not(.appInCluster) {
        border-left: $navigationItemBorder $railsCustomColor;
    }
    .rails.appInCluster,
    .rails .add {
        background: $railsCustomColor;
    }

    .chronos:not(.appInCluster) {
        border-left: $navigationItemBorder $chronosCustomColor;
    }
    .chronos.appInCluster,
    .chronos .add {
        background: $chronosCustomColor;
    }

    .storm:not(.appInCluster) {
        border-left: $navigationItemBorder $stormCustomColor;
    }
    .storm.appInCluster,
    .storm .add {
        background: $stormCustomColor;
    }

    .spark:not(.appInCluster) {
        border-left: $navigationItemBorder $sparkCustomColor;
    }
    .spark.appInCluster,
    .spark .add {
        background: $sparkCustomColor;
    }
}

// general apps navigation styles
.title {
    color: #5d5d5d;
    font-size: 12px;
    margin: 50px 0 25px 30px;
}

.navigation {
    background: #141414;
}

.navigationItem {
    height: 50px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #1e1e1e;
    padding-left: 30px;
    align-items: center;
    font-size: 16px;
    font-weight: lighter;
    color: #fff;
    flex-grow: 1;
    justify-content: space-between;
}

.navigationActions {
    color: #fff;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 15px;

    > button {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        color: #fff;
        font-size: 22px;
        font-weight: lighter;
        line-height: 10px;
    }

    .remove {
        border: 2px solid $lightDark;
        color: $lightDark;
        margin-right: 10px;
    }
}
